# macOS system files
.DS_Store

# Ignore virtual environment
.venv/
.wheel-smoke-venv/

# Ignore .env file
.env

# Python cache
__pycache__/

# Ignore build and dist
build/
dist/
htmlcov/

# Python cache
*.pyc
*. egg-info
.mypy_cache
.coverage
.pytest_cache
.ruff_cache
.ruff
*.geojson
*.parquet
!examples/**/data/*.parquet

# Docker
.docker/*

# Ignore logs
*.log
*.jsonl
*.json
!examples/**/data/*.jsonl
*.txt

# DB
*.sqlite3
*.db

# Cache
.cache/
